@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --color-mint-500: oklch(0.72 0.11 178);
    --font-jarkata-sans: "Plus Jakarta Sans", sans-serif;
    --font-inter: "Inter", sans-serif;
}


